# 1.   Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

**Ans.**

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'wt') as file:
    file.write(test1)

#  2.  Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

**Ans.**

In [2]:
with open('test.txt', 'rt') as file:
    test2 = file.read()

test1==test2

True

# 3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

**Ans.**

In [14]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books.csv', 'wt') as file:
    file.write(text)

# 4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

**Ans.**

In [15]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('create table book (title text, author text, year int)')

In [16]:
db.commit()

# 5.  Read books.csv and insert its data into the book table.

**Ans.**

In [17]:
import csv
import sqlite3
query = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as file:
    books = csv.DictReader(file)
    for book in books:
        curs.execute(query, (book['title'], book['author'], book['year']))

In [18]:
db.commit()

 # 6. Select and print the title column from the book table in alphabetical order.

**Ans.**

In [19]:
query = 'select title from book order by title asc'
for row in db.execute(query):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

# 7. From the book table, select and print all columns in the order of publication.

**Ans.**

In [20]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

**Ans.**

In [22]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
result = conn.execute(sql)
for row in result:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

# 9.  Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

**Ans.**

In [28]:
! pip install redis

Collecting redis
  Downloading redis-3.5.3-py2.py3-none-any.whl (72 kB)
Installing collected packages: redis
Successfully installed redis-3.5.3

In [31]:
import redis
conn = redis.Redis()

In [34]:
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

{b'name': b'Fester Bestertester', b'count': b'1'}

# 10.  Increment the count field of test and print it.

**Ans.**

In [35]:
conn.hincrby('test', 'count', 7)

8

In [37]:
conn.hget('test', 'count')

b'8'